:root{
    --color_bg_primary: #dadbd0;
    --color_bg_accent: #009688;
    --color_nav_primary: #eaeaea;
    --color_nav_secondary: #fafafa;
    --color_nav_accent: #b1b1b1;
    --color_bottom_nav_primary: #f3eeea;
    --color_bottom_nav_accent: #6a7275;
    --color_alert: #8edafc;
    --color_selected: #e9ebeb;
    --color_msg_sent: #d5f9ba;
}

main{
    height: 100vh;
    background-image: linear-gradient(var(--color_bg_accent) 20%, var(--color_bg_primary) 20%);
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.main_container{
    height: 100%;
    box-shadow: 0 0 8px var(--color_bottom_nav_accent);
    padding-left: 0;
    padding-right: 0;
}

.sidebar, .main_display{
    display: flex;
    flex-direction: column;
}

.sidebar{
    width: 300px;
    border-right: 1px solid var(--color_nav_accent);
    flex-shrink: 0;
}

.main_display{
    flex-grow: 1;
}

.profile_container{
    padding: .3rem .5rem;
    background-color: var(--color_nav_primary);
}

.alert_container{
    background-color: var(--color_alert);
}

.searchbar_container{
    background-color: var(--color_nav_secondary);
    padding: .2rem;
}

.userlist_container,
.center_display,
.text_area{
    flex-grow: 1;
    overflow: auto;
}

.userlist_container{
    background-color: white;
    margin-bottom: 0;
}

.userlist_container .single_user:not(:last-child){
    border-bottom: 1px solid var(--color_selected);
}

.single_user.active{
    background-color: var(--color_selected);
}

.center_display{
    background-image: url("../img/mine.jpg");
    background-position: center;
}

.bottom_display{
    min-height: 50px;
    background-color: var(--color_bottom_nav_primary);
}

.bottom_display button{
    border: none;
    color: var(--color_bottom_nav_accent);
    background-color: transparent;
}

.profile_img,
.alert_icon{
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: auto;
}

.main_text{
    font-size: .8rem;
    font-weight: 600;
}

a, .sub_text{
    font-size: .7rem;
}

.sub_text{
    color: var(--color_nav_accent);
}

.button_list{
    margin-bottom: 0;
}

.button_list button{
    border: none;
    color: var(--color_nav_accent);
}

.alert_icon{
    background-color: white;
    color: var(--color_alert);
    display: flex;
    justify-content: center;
    align-items: center;
}

.text_bubble{
    width: 18vw;
    min-height: 40px;
    border-radius: 5px;
    background-color: white;
    margin: 0 2rem .4rem 2rem;
    display: flex;
    justify-content: space-between;
    padding: .5rem .3rem .3rem .6rem;
}

.text_bubble.sent{
    background-color: var(--color_msg_sent);
    margin-left: auto;
}

.text_bubble .msg_text{
    font-size: .8rem;
}

.text_bubble .msg_time{
    font-size: .6rem;
    color: var(--color_nav_accent);
    display: flex;
    align-self: end;
}