<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    
    <title>BoolzApp</title>
</head>
<body>
    <div id="app">

        <main>
            <div class="container main_container d-flex">
                
                <div class="sidebar">
                    <div class="profile_container d-flex justify-content-between">
                        <div class="profile d-flex align-items-center gap-2">
                            <div class="profile_img">
                                <img src="img/avatar_io.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="profile_text">
                                <span class="main_text">Sofia</span>
                            </div>
                        </div>
                        <ul class="button_list list-unstyled d-flex align-items-center gap-2">
                            <li><button><i class="fa-solid fa-circle-notch"></i></button></li>
                            <li><button><i class="fa-solid fa-message"></i></button></li>
                            <li><button><i class="fa-solid fa-ellipsis-vertical"></i></button></li>
                        </ul>
                    </div>

                    <div class="alert_container d-flex py-1 px-3 gap-2">
                        <div class="alert_icon">
                            <i class="fa-solid fa-bell-slash"></i>
                        </div>
                        <div class="alert_text d-flex flex-column">
                            <span class="main_text">Ricevi notifiche di nuovi messaggi</span>
                            <a href="#"><span class="link-secondary">Attiva notifiche desktop</span></a>
                        </div>
                    </div>
                    
                    <div class="searchbar_container">
                        <div class="input-group input-group-sm">
                            <button class="btn btn-outline-secondary" type="button" id="button-addon1"
                            @click="searchUser()">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Cerca o inizia una nuova chat"
                            v-model="newSearchInput">
                        </div>
                    </div>
                    
                    <ul class="userlist_container list-unstyled">
                        <li class="single_user d-flex justify-content-between py-2 px-3"
                            :class="{'active' : selectedUser === user, 'd-none' : !user.visible}"
                            v-for="(user, i) in userList" :key="i + user.name"
                            @click="selectedUser = user">
                            <div class="profile d-flex gap-3">
                                <div class="profile_img">
                                    <img :src="`img/avatar${user.avatar}.jpg`" class="img-fluid">
                                </div>
                                <div class="profile_text d-flex flex-column">
                                    <span class="main_text">{{user.name}}</span>
                                    <span class="sub_text">Ultimo messaggio</span>
                                </div>
                            </div>
                            <div class="sub_text">12:00</div>
                        </li>
                    </ul>
                </div>

                <div class="main_display">

                    <div class="top_display">
                        <div class="profile_container d-flex justify-content-between">
                            <div class="profile d-flex align-items-center gap-2">
                                <div class="profile_img">
                                    <img :src="`img/avatar${selectedUser.avatar}.jpg`" alt="" class="img-fluid">
                                </div>
                                <div class="profile_text d-flex flex-column">
                                    <span class="main_text">{{selectedUser.name}}</span>
                                    <span class="sub_text">Ultimo accesso oggi alle 11:00</span>
                                </div>
                            </div>
                            <ul class="button_list list-unstyled d-flex align-items-center gap-2">
                                <li><button><i class="fa-solid fa-magnifying-glass"></i></button></li>
                                <li><button><i class="fa-solid fa-paperclip"></i></button></li>
                                <li><button><i class="fa-solid fa-ellipsis-vertical"></i></button></li>
                            </ul>
                        </div>
                    </div>

                    <div class="center_display py-3 px-1 px-md-2 px-lg-5">
                        <div class="text_bubble"
                            v-for="message in selectedUser.messages"
                            :class="{'sent' : message.status === 'sent'}">
                            <span class="msg_text">{{message.message}}</span>
                            <span class="msg_time">{{message.date}}</span>
                        </div>
                    </div>

                    <div class="bottom_display d-flex align-items-center px-3 gap-3">
                        <div class="emoji_container">
                            <button class="btn"><i class="fa-regular fa-face-smile"></i></button>
                        </div>
                        <div class="text_area">
                            <input type="text" class="form-control" placeholder="Scrivi un messaggio"
                            v-model="newText.message"
                            @keyup.enter="sendText">
                        </div>
                        <div class="record_msg">
                            <button class="btn"><i class="fa-solid fa-microphone"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="js/script.js" type="module"></script>
</body>
</html>